In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os
import shutil 
from datetime import datetime 
import numpy as np
import copy
from hijri_converter import convert

In [2]:
gregorian_months = ['January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December']

islamic_months = ["Muharram", "Safar", "Rabi al Awwal", 
                  "Rabi ath Thani", "Jamada al Ula", 
                  "Jumada ath Thaniyah", "Rajab", "Shaban", 
                  "Ramadan", "Shawal", "Dhu al Qa'dah", "Dhu al Hijah"]

In [3]:
df = pd.read_csv('Data\multi_feature_sales_data.csv')

In [4]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.set_index('Date', inplace=True)

In [5]:
df_weekly = df.resample('W').agg({'Sales':'sum', 'Average Discount': 'mean', 'eid ul fitr':'mean', 'eid ul Adha':'mean', 'Wheat Harvest':'mean', 'Cotton Harvest':'mean'})

In [6]:
for c in gregorian_months:
    df_weekly[c] = 0
for c in islamic_months:
    df_weekly[c] = 0

In [7]:
for index, row in df_weekly.iterrows():
    gregorian_month_name = gregorian_months[index.month-1]

    islamic_month_index = convert.Gregorian.fromdate(index).to_hijri().month - 1
    islamic_month_name = islamic_months[islamic_month_index - 1]
    
    df_weekly.at[index, gregorian_month_name] = 1
    df_weekly.at[index, islamic_month_name] = 1

In [8]:
df_weekly['Week 1'] =0
df_weekly['Week 2'] =0
df_weekly['Week 3'] =0
df_weekly['Week 4'] =0
df_weekly['Week 5'] =0

In [9]:
for index, row in df_weekly.iterrows():
    week_number = index.isocalendar()[1] - index.replace(day=1).isocalendar()[1] + 1
    print(week_number)
    if week_number == 1:
        df_weekly.at[index, 'Week 1'] = 1
        
    elif week_number == 2:
        df_weekly.at[index, 'Week 2'] = 1

    elif week_number == 3:
        df_weekly.at[index, 'Week 3'] = 1
        
    elif week_number == 4:
        df_weekly.at[index,'Week 4'] = 1
        
    elif week_number == 5:
        df_weekly.at[index, 'Week 5'] = 1

1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
-51
-50
-49
-48
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
1
2
3
4
5
1
2
3
4
1
2
3
4
5
1
2
3
4
1

In [10]:
df_weekly

,Sales,Average Discount,eid ul fitr,eid ul Adha,Wheat Harvest,Cotton Harvest,January,February,March,April,...,Shaban,Ramadan,Shawal,Dhu al Qa'dah,Dhu al Hijah,Week 1,Week 2,Week 3,Week 4,Week 5
Date,,,,,,,,,,,,,,,,,,,,,
2017-04-02,28088,10.500000,0.0,0.0,1.0,0.000000,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2017-04-09,73471,0.000000,0.0,0.0,1.0,0.000000,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2017-04-16,29785,0.000000,0.0,0.0,1.0,0.000000,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2017-04-23,59785,0.000000,0.0,0.0,1.0,0.000000,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2017-04-30,35325,0.000000,0.0,0.0,1.0,0.000000,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-07,148194,20.000000,0.0,0.0,0.0,1.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2021-11-14,119808,18.571429,0.0,0.0,0.0,1.000000,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2021-11-21,155453,21.428571,0.0,0.0,0.0,1.000000,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2021-11-28,127722,33.000000,0.0,0.0,0.0,1.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2021-12-05,34119,33.000000,0.0,0.0,0.0,0.666667,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
df_weekly['Year'] = df_weekly.index.year

In [12]:
# df_weekly.to_csv('multi_feature_sales_data_weekly.csv')

In [17]:
df_monthly = df.resample('M').agg({'Sales':'sum', 'Average Discount': 'mean', 'eid ul fitr':'mean', 'eid ul Adha':'mean', 'Wheat Harvest':'mean', 'Cotton Harvest':'mean'})

In [18]:
for c in gregorian_months:
    df_monthly[c] = 0
for c in islamic_months:
    df_monthly[c] = 0

In [19]:
for index, row in df_monthly.iterrows():
    gregorian_month_name = gregorian_months[index.month-1]

    islamic_month_index = convert.Gregorian.fromdate(index).to_hijri().month - 1
    islamic_month_name = islamic_months[islamic_month_index - 1]
    
    df_monthly.at[index, gregorian_month_name] = 1
    df_monthly.at[index, islamic_month_name] = 1

In [20]:
df_monthly

,Sales,Average Discount,eid ul fitr,eid ul Adha,Wheat Harvest,Cotton Harvest,January,February,March,April,...,Rabi al Awwal,Rabi ath Thani,Jamada al Ula,Jumada ath Thaniyah,Rajab,Shaban,Ramadan,Shawal,Dhu al Qa'dah,Dhu al Hijah
Date,,,,,,,,,,,,,,,,,,,,,
2017-04-30,226454,0.777778,0.000000,0.000000,1.0,0.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2017-05-31,244123,3.333333,0.000000,0.000000,1.0,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2017-06-30,396351,4.285714,0.535714,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2017-07-31,354488,2.258065,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2017-08-31,466316,2.258065,0.000000,0.161290,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2017-09-30,422322,7.142857,0.000000,0.071429,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2017-10-31,420658,3.333333,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,588719,17.482759,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2017-12-31,452361,15.129032,0.000000,0.000000,0.0,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2018-01-31,321672,10.774194,0.000000,0.000000,0.0,0.0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2018-02-28,366368,14.285714,0.000000,0.000000,0.0,0.0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2018-03-31,346627,10.193548,0.000000,0.000000,0.0,0.0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2018-04-30,299655,9.666667,0.000000,0.000000,1.0,0.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2018-05-31,307045,3.548387,0.000000,0.000000,1.0,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2018-06-30,729922,1.724138,0.517241,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2018-07-31,536403,1.580645,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2018-08-31,490722,4.793103,0.000000,0.206897,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2018-09-30,460526,1.785714,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2018-10-31,486640,10.645161,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-11-30,440878,15.566667,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-12-31,567899,15.266667,0.000000,0.000000,0.0,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2019-01-31,418052,15.133333,0.000000,0.000000,0.0,0.0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2019-02-28,501628,15.071429,0.000000,0.000000,0.0,0.0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2019-03-31,580608,15.064516,0.000000,0.000000,0.0,0.0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2019-04-30,443064,15.033333,0.000000,0.000000,1.0,0.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2019-05-31,389370,14.354839,0.322581,0.000000,1.0,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2019-06-30,549081,16.392857,0.142857,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2019-07-31,621049,43.064516,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2019-08-31,620854,33.933333,0.000000,0.233333,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2019-09-30,635089,33.285714,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-10-31,604296,40.483871,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2019-11-30,872331,39.566667,0.000000,0.000000,0.0,1.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2019-12-31,813701,40.258065,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2020-01-31,651365,37.903226,0.000000,0.000000,0.0,0.0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2020-02-29,664483,44.379310,0.000000,0.000000,0.0,0.0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2020-03-31,358829,39.100000,0.250000,0.000000,0.0,0.0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2020-04-30,0,NaN,NaN,NaN,NaN,NaN,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2020-05-31,340493,31.909091,0.636364,0.000000,1.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-06-30,231368,30.500000,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2020-07-31,387126,18.187500,0.000000,0.125000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2020-08-31,470777,39.040000,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2020-09-30,722407,43.100000,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-10-31,529173,34.481481,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-11-30,591039,25.434783,0.000000,0.000000,0.0,1.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2020-12-31,579860,22.806452,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2021-01-31,651139,26.774194,0.000000,0.000000,0.0,0.0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2021-02-28,607196,25.214286,0.000000,0.000000,0.0,0.0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2021-03-31,484183,28.615385,0.000000,0.000000,0.0,0.0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2021-04-30,278399,21.090909,0.000000,0.000000,1.0,0.0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2021-05-31,286176,23.500000,0.312500,0.000000,1.0,0.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2021-06-30,475685,23.708333,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2021-07-31,618736,22.040000,0.000000,0.280000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2021-08-31,308648,19.800000,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2021-09-30,606415,20.478261,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-10-31,655718,19.724138,0.000000,0.000000,0.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-11-30,576387,24.000000,0.000000,0.000000,0.0,1.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2021-12-31,8909,30.000000,0.000000,0.000000,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [21]:
df_monthly.to_csv('multi_feature_sales_data_monthly.csv')