In [1]:
import pandas as pd
import math
import operator
import os
import shutil

In [ ]:
df_stocks = pd.read_csv('Data\Brands_Categories_Sold_Lhr_encoded.csv')
df_stocks['dates'] = pd.to_datetime(df_stocks['dates'], dayfirst = True)
df_stocks.rename(columns={'dates':'Date'}, inplace=True)
df_stocks.set_index('Date', inplace=True)

df_stocks_features = pd.read_csv('Data\stocks_features.csv')
df_stocks_features['dates'] = pd.to_datetime(df_stocks_features['dates'], dayfirst = True)
df_stocks_features.rename(columns={'dates':'Date'}, inplace=True)
df_stocks_features.set_index('Date', inplace=True)

df_ItemList = pd.read_csv('Data\ItemList.csv')
df_Sales = pd.read_csv('Data\Lahore_sales_report.csv')

In [ ]:
df_stocks_monthly = df_stocks.resample('M').sum()

In [ ]:
# df_stocks_monthly
# df_stocks_features

In [ ]:
# bringing top 20% categories: top 20% by rank


category_monthly_sold = {}
brand_monthly_sold = {}

category_names = []
brand_names = []

for column_name, content in df_stocks_monthly.iteritems():
    if 'category' in column_name:
        if column_name not in category_names:
            category_names.append(column_name)
        if column_name not in category_monthly_sold:
            category_monthly_sold[column_name] = []

            for index, value in content.iteritems():
                category_monthly_sold[column_name].append((index.month_name() + str(index.year), value))      
    elif 'brand' in column_name:
        if column_name not in brand_names:
            brand_names.append(column_name)
        if column_name not in brand_monthly_sold:
            brand_monthly_sold[column_name] = []

            for index, value in content.iteritems():
                brand_monthly_sold[column_name].append((index.month_name() + str(index.year), value))

In [ ]:
monthly_category_sold = {}
monthly_brand_sold = {}

for column_name, content in df_stocks_monthly.iteritems():
    if 'category' in column_name:
        for index, value in content.iteritems():
            month_year = index.month_name() + str(index.year)
            if month_year not in monthly_category_sold:
                monthly_category_sold[month_year] = []
                monthly_category_sold[month_year].append((column_name, value))
            else:
                monthly_category_sold[month_year].append((column_name, value))
    elif 'brand' in column_name:
        for index, value in content.iteritems():
            month_year = index.month_name() + str(index.year)
            if month_year not in monthly_brand_sold:
                monthly_brand_sold[month_year] = []
                monthly_brand_sold[month_year].append((column_name, value))
            else:
                monthly_brand_sold[month_year].append((column_name, value))

In [ ]:
monthly_category_sold

In [ ]:
top_monthly_category_sold = {}
for key in monthly_category_sold:
    sorted_cat = sorted(monthly_category_sold[key], key=lambda x:(x[1], x[1]), reverse=True)
    total_units_sold = sum(i for _, i in sorted_cat)
    main_categories = []
    units_sold = 0
    for c in sorted_cat:
        if units_sold >= 0.95*(total_units_sold):
            break
        else:
            units_sold += c[1]
            main_categories.append(c[0])
    top_monthly_category_sold[key] = main_categories

In [ ]:
top_monthly_category_sold

In [ ]:
top_20Perc_monthly_category_sold = {}
for key in monthly_category_sold:
    sorted_cat = sorted(monthly_category_sold[key], key=lambda x:(x[1], x[1]), reverse=True)
    top_20Perc_monthly_category_sold[key] = sorted_cat[:math.ceil( len(sorted_cat)*0.2 )]

top_20Perc_monthly_brand_sold = {}
for key in monthly_brand_sold:
    sorted_brand = sorted(monthly_brand_sold[key], key=lambda x:(x[1], x[1]), reverse=True)
    top_20Perc_monthly_brand_sold[key] = sorted_brand[:math.ceil( len(sorted_brand)*0.2 )]

In [ ]:
cat_freq = {}
for key in top_monthly_category_sold:
    for value in top_monthly_category_sold[key]:
        if value not in cat_freq:
            cat_freq[value] = 1
        else:
            cat_freq[value]+=1

In [ ]:
print(dict( sorted(cat_freq.items(), key=operator.itemgetter(1),reverse=True) ))

In [ ]:
top_95_percent_overall_categories = []
for key in cat_freq:
    if cat_freq[key] > 12:
        top_95_percent_overall_categories.append(key)

In [ ]:
b_c_encoded = {}

In [ ]:
top_95_percent_overall_categories_decoded = []
for c in top_95_percent_overall_categories:
    for key in b_c_encoded:
        if b_c_encoded[key] == c:
            top_95_percent_overall_categories_decoded.append(key)

In [ ]:
top_95_percent_overall_categories_decoded

In [ ]:
category_wise_brands = {}
for c in top_95_percent_overall_categories_decoded:
    category_wise_brands[c] = []
    for index, row in df_ItemList.iterrows():
        if row['Category'] == c:
            if row['ItemName'] not in category_wise_brands[c]:
                category_wise_brands[c].append(row['ItemName'])

In [ ]:
category_dfs = {}
for key in category_wise_brands:
    category_dfs[key] = pd.DataFrame(columns=['Date'] + category_wise_brands[key])

In [ ]:
category_dfs

In [ ]:
for key in category_dfs:
    print(key)
    initial_row = [ 0 for i in range( len(category_dfs[key].columns)) ]

    for index_sales, row_sales in df_Sales.iterrows():

        date = row_sales['Customer Date']
        itemcode = row_sales['Design Number']
        qty_sold = row_sales['Quantity']

        for index_il, row_il in df_ItemList.iterrows():
            
            if itemcode == row_il['ItemCode'] and key == row_il['Category']:
                
                brand = row_il['ItemName']
                df_length = len(category_dfs[key])
                category_dfs[key].loc[df_length] = initial_row
                category_dfs[key].loc[df_length, 'Date'] = date
                category_dfs[key].loc[df_length, brand] = qty_sold

In [ ]:
for key in category_dfs:
    filename = key.replace("/", "")
    category_dfs[key].to_csv(filename + '.csv')

In [ ]:
df_ItemList = pd.read_csv('Data\ItemList.csv')

In [ ]:
cat_freq_noncoded = {}
for key in cat_freq:
    for c in b_c_encoded:
        if b_c_encoded[c] == key:
            cat_freq_noncoded[c] = cat_freq[key]

In [ ]:
# cat_freq_noncoded
# print(dict( sorted(cat_freq_noncoded.items(), key=operator.itemgetter(1),reverse=True) ))

In [ ]:
cat_freq = dict( sorted(cat_freq.items(), key=operator.itemgetter(1),reverse=True) )

In [ ]:
cat_freq

In [ ]:
# even if its sold once a year then thats fine

In [ ]:
main_categories = {}
for key in cat_freq:
    if cat_freq[key] >= math.floor(len(cat_freq)*0.25):
        main_categories[key] = cat_freq[key]

In [ ]:
main_categories
main_categories_names = []
for key in main_categories:
    main_categories_names.append(key)
main_categories_names

In [ ]:
df_main_cat = df_stocks[main_categories]

In [ ]:
# df_main_cat = df_main_cat.loc[:, ~df_main_cat.columns.isin(brand_names)]

In [ ]:
df_main_cat

In [ ]:
columns_needed = ['Average Discount', 'Year', 'Month', 'Day', 'Week Day', 'Week End', 'Hijri Dates', 'eid ul fitr', 'eid ul Adha', 'Muharrum', 'Wheat Harvest', 'Cotton Harvest'] + main_categories_names

In [ ]:
columns_needed

In [ ]:
df_main_cat_features = df_stocks_features[columns_needed]

In [ ]:
df_main_cat_features

In [ ]:
df_main_cat_features.to_csv('Data\main_categories_features.csv')

In [ ]:
b_c_encoded = {}

In [21]:
directory = 'Category_wise_brands'
for filename in os.listdir(directory):
    new_file_name = b_c_encoded[filename.replace(".csv", "")] + ".csv"
    src_dir = directory + '/' + filename
    dest_dir = directory + '/' + new_file_name
    shutil.copy(src_dir, dest_dir)

In [24]:
directory = 'Category_wise_brands_encoded'
i = 0
for filename in os.listdir(directory):
    try:
        i+=1
        fname_df = pd.read_csv(directory + '/' + filename)
        column_names = {}
        for column in fname_df.columns:
            for x in b_c_encoded:
                if x == column:
                    column_names[x] = b_c_encoded[x]
        fname_df.rename(columns = column_names, inplace = True)
        print(fname_df)
        fname_df.to_csv(directory + '/' + filename) 
    except:
        pass
    
print(i)

     Unnamed: 0        Date  brand t140p  brand v177j  brand T75q  brand w32S  \
0             0  02/04/2017            1            0           0           0
1             1  03/04/2017            1            0           0           0
2             2  09/04/2017            0            0           1           0
3             3  11/04/2017            0            0           1           0
4             4  14/04/2017            0            1           0           0
..          ...         ...          ...          ...         ...         ...
453         453  26/11/2021            0            0           0           1
454         454  01/12/2021            1            0           0           0
455         455  01/12/2021            0            0           0           1
456         456  01/12/2021            0            0           0           1
457         457  01/12/2021            0            0           0           0

     brand G56h
0             0
1             0
2             0
3             0
4             0
..          ...
453           0
454           0
455           0
456           0
457           1

[458 rows x 7 columns]
     Unnamed: 0        Date  brand r18p  brand W196C  brand I232M  \
0             0  06/04/2017           1            0            0
1             1  18/04/2017           1            0            0
2             2  05/05/2017           1            0            0
3             3  09/05/2017           1            0            0
4             4  14/05/2017           1            0            0
..          ...         ...         ...          ...          ...
446         446  09/11/2021           0            0            0
447         447  10/11/2021           0            0            0
448         448  16/11/2021           0            0            0
449         449  25/11/2021           0            0            0
450         450  27/11/2021           0            0            0

     brand Y213j  brand V209V  brand j12s  brand P144q  brand N239O  \
0              0            0           0            0            0
1              0            0           0            0            0
2              0            0           0            0            0
3              0            0           0            0            0
4              0            0           0            0            0
..           ...          ...         ...          ...          ...
446            0            0           0            0            0
447            0            0           0            1            0
448            0            0           0            1            0
449            0            0           0            1            0
450            0            0           0            1            0

     brand v177j  brand M84e  brand i211A  brand b184Z  brand h216j  \
0              0           0            0            0            0
1              0           0            0            0            0
2              0           0            0            0            0
3              0           0            0            0            0
4              0           0            0            0            0
..           ...         ...          ...          ...          ...
446            0           0            0            0            0
447            0           0            0            0            0
448            0           0            0            0            0
449            0           0            0            0            0
450            0           0            0            0            0

     brand T75q
0             0
1             0
2             0
3             0
4             0
..          ...
446           1
447           0
448           0
449           0
450           0

[451 rows x 16 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand r18p  brand V209V  \
0             0             0  09/04/2017           1            0
1             1             1  29/04/2017           1            0
2             2             2  16/05/2017           1            0
3             3             3  21/05/2017           1            0
4             4             4  26/05/2017           1            0
..          ...           ...         ...         ...          ...
276         276           276  01/11/2021           0            0
277         277           277  04/11/2021           0            0
278         278           278  06/11/2021           0            0
279         279           279  07/11/2021           0            0
280         280           280  26/11/2021           0            0

     brand W196C  brand v177j  brand I232M  brand P144q  brand j12s  \
0              0            0            0            0           0
1              0            0            0            0           0
2              0            0            0            0           0
3              0            0            0            0           0
4              0            0            0            0           0
..           ...          ...          ...          ...         ...
276            0            0            1            0           0
277            0            0            0            1           0
278            0            0            0            1           0
279            0            0            0            1           0
280            0            0            0            1           0

     brand N239O  brand b49d  brand W52T  brand h216j  brand M84e
0              0           0           0            0           0
1              0           0           0            0           0
2              0           0           0            0           0
3              0           0           0            0           0
4              0           0           0            0           0
..           ...         ...         ...          ...         ...
276            0           0           0            0           0
277            0           0           0            0           0
278            0           0           0            0           0
279            0           0           0            0           0
280            0           0           0            0           0

[281 rows x 15 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand r18p  brand v177j  \
0             0             0  24/04/2017           0            0
1             1             1  03/05/2017           1            0
2             2             2  11/05/2017           1            0
3             3             3  13/05/2017           2            0
4             4             4  17/05/2017           1            0
..          ...           ...         ...         ...          ...
399         399           399  16/11/2021           0            0
400         400           400  17/11/2021           0            0
401         401           401  19/11/2021           0            0
402         402           402  22/11/2021           0            0
403         403           403  29/11/2021           0            0

     brand I232M  brand V209V  brand P144q  brand j12s  brand Y213j  \
0              1            0            0           0            0
1              0            0            0           0            0
2              0            0            0           0            0
3              0            0            0           0            0
4              0            0            0           0            0
..           ...          ...          ...         ...          ...
399            0            0            1           0            0
400            0            0            0           1            0
401            0            0            1           0            0
402            0            0            1           0            0
403            0            0            1           0            0

     brand D203E  brand N239O  brand N97e  brand B197q  brand e250p  \
0              0            0           0            0            0
1              0            0           0            0            0
2              0            0           0            0            0
3              0            0           0            0            0
4              0            0           0            0            0
..           ...          ...         ...          ...          ...
399            0            0           0            0            0
400            0            0           0            0            0
401            0            0           0            0            0
402            0            0           0            0            0
403            0            0           0            0            0

     brand R124D  brand x20y  brand H165f  brand T75q
0              0           0            0           0
1              0           0            0           0
2              0           0            0           0
3              0           0            0           0
4              0           0            0           0
..           ...         ...          ...         ...
399            0           0            0           0
400            0           0            0           0
401            0           0            0           0
402            0           0            0           0
403            0           0            0           0

[404 rows x 19 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand r18p  brand t140p  \
0             0             0  09/04/2017           1            0
1             1             1  16/04/2017           1            0
2             2             2  01/05/2017           1            0
3             3             3  16/05/2017           1            0
4             4             4  17/05/2017          -1            0
..          ...           ...         ...         ...          ...
325         325           325  29/04/2021           0            0
326         326           326  05/05/2021           0            0
327         327           327  07/05/2021           0            0
328         328           328  06/07/2021           0            0
329         329           329  11/11/2021           0            1

     brand m179b  brand P144q  brand N239O
0              0            0            0
1              0            0            0
2              0            0            0
3              0            0            0
4              0            0            0
..           ...          ...          ...
325            0            0            1
326            0            0            1
327            0            0            1
328            0            0            1
329            0            0            0

[330 rows x 8 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand r18p  brand m179b  \
0             0             0  15/10/2017           2            0
1             1             1  15/10/2017           1            0
2             2             2  27/10/2017           2            0
3             3             3  29/10/2017           1            0
4             4             4  02/11/2017           1            0
..          ...           ...         ...         ...          ...
169         169           169  13/11/2021           0            0
170         170           170  15/11/2021           0            0
171         171           171  26/11/2021           0            0
172         172           172  27/11/2021           0            0
173         173           173  28/11/2021           0            0

     brand G56h  brand N239O  brand P144q
0             0            0            0
1             0            0            0
2             0            0            0
3             0            0            0
4             0            0            0
..          ...          ...          ...
169           0            0            1
170           0            0            1
171           0            0            1
172           0            0            1
173           0            0            1

[174 rows x 8 columns]
      Unnamed: 0  Unnamed: 0.1        Date  brand t140p  brand Y119h  \
0              0             0  01/04/2017            0            0
1              1             1  02/04/2017            0            0
2              2             2  02/04/2017            0            1
3              3             3  09/04/2017            0            0
4              4             4  09/04/2017            0            0
...          ...           ...         ...          ...          ...
2054        2054          2054  27/11/2021            0            0
2055        2055          2055  27/11/2021            0            0
2056        2056          2056  27/11/2021            0            0
2057        2057          2057  01/12/2021            0            0
2058        2058          2058  01/12/2021            0            0

      brand Z199j  brand r18p  brand u199P  brand P144q  brand C112Z  \
0               0           1            0            0            0
1               0           1            0            0            0
2               0           0            0            0            0
3               0           2            0            0            0
4               0           1            0            0            0
...           ...         ...          ...          ...          ...
2054            0           0            0            1            0
2055            0           0            0            2            0
2056            0           0            0            2            0
2057            0           0            0            1            0
2058            0           0            0            1            0

      brand x92E  brand T121J  brand N239O  brand w211L  brand H167z  \
0              0            0            0            0            0
1              0            0            0            0            0
2              0            0            0            0            0
3              0            0            0            0            0
4              0            0            0            0            0
...          ...          ...          ...          ...          ...
2054           0            0            0            0            0
2055           0            0            0            0            0
2056           0            0            0            0            0
2057           0            0            0            0            0
2058           0            0            0            0            0

      brand k89w
0              0
1              0
2              0
3              0
4              0
...          ...
2054           0
2055           0
2056           0
2057           0
2058           0

[2059 rows x 16 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand Y119h  brand P144q  \
0             0             0  20/07/2017            1            0
1             1             1  23/08/2017           26            0
2             2             2  25/11/2017            1            0
3             3             3  14/12/2017            1            0
4             4             4  25/12/2017            1            0
..          ...           ...         ...          ...          ...
203         203           203  17/11/2021            0            2
204         204           204  21/11/2021            0            0
205         205           205  21/11/2021            0            1
206         206           206  24/11/2021            0            0
207         207           207  28/11/2021            0            1

     brand w211L  brand k89w  brand C112Z
0              0           0            0
1              0           0            0
2              0           0            0
3              0           0            0
4              0           0            0
..           ...         ...          ...
203            0           0            0
204            0           1            0
205            0           0            0
206            0           1            0
207            0           0            0

[208 rows x 8 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand r18p  brand v177j  \
0             0             0  03/04/2017           1            0
1             1             1  07/04/2017           2            0
2             2             2  09/04/2017           1            0
3             3             3  09/04/2017           1            0
4             4             4  09/04/2017           2            0
..          ...           ...         ...         ...          ...
757         757           757  28/11/2021           0            0
758         758           758  28/11/2021           0            0
759         759           759  29/11/2021           0            0
760         760           760  30/11/2021           0            0
761         761           761  30/11/2021           0            0

     brand P144q  brand b103y  brand N239O  brand R124D  brand k89w  \
0              0            0            0            0           0
1              0            0            0            0           0
2              0            0            0            0           0
3              0            0            0            0           0
4              0            0            0            0           0
..           ...          ...          ...          ...         ...
757            1            0            0            0           0
758            0            0            0            0           0
759            1            0            0            0           0
760            2            0            0            0           0
761            2            0            0            0           0

     brand W147Q  brand x232R
0              0            0
1              0            0
2              0            0
3              0            0
4              0            0
..           ...          ...
757            0            0
758            0            1
759            0            0
760            0            0
761            0            0

[762 rows x 12 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand N239O  brand r18p  \
0             0             0  01/04/2017            1           0
1             1             1  04/06/2017            2           0
2             2             2  30/06/2017            1           0
3             3             3  13/07/2017            1           0
4             4             4  26/07/2017            1           0
..          ...           ...         ...          ...         ...
122         122           122  30/10/2021            0           0
123         123           123  06/11/2021            0           0
124         124           124  06/11/2021            0           0
125         125           125  19/11/2021            0           0
126         126           126  26/11/2021            0           0

     brand P144q  brand g93Y  brand p95p  brand o183O
0              0           0           0            0
1              0           0           0            0
2              0           0           0            0
3              0           0           0            0
4              0           0           0            0
..           ...         ...         ...          ...
122            1           0           0            0
123            1           0           0            0
124            0           0           0            1
125            1           0           0            0
126            1           0           0            0

[127 rows x 9 columns]
     Unnamed: 0  Unnamed: 0.1        Date  brand t140p  brand P144q  \
0             0             0  15/05/2017            1            0
1             1             1  22/06/2017            1            0
2             2             2  22/06/2017            1            0
3             3             3  22/06/2017           -1            0